openapi: 3.0.3
info:
  title: Runta Public REST API
  description: Public REST API for external developers and the runta CLI.
  version: 0.1.0
servers:
  - url: https://api.runta.com
    description: Hosted public API
paths:
  /healthz:
    get:
      tags:
        - Health
      summary: Liveness check
      operationId: healthz
      responses:
        '200':
          description: no content
    head:
      tags:
        - Health
      summary: Liveness check
      operationId: headHealthz
      responses:
        '200':
          description: no content
  /v2/ssh-host-key:
    get:
      tags:
        - SSH Keys
      summary: Get the stable SSH gateway host key
      operationId: getSshHostKey
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Response envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SshHostKeyResponse'
        default:
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/Validation'
        '429':
          $ref: '#/components/responses/RateLimited'
        '501':
          $ref: '#/components/responses/NotImplemented'
        '503':
          $ref: '#/components/responses/Unavailable'
        '504':
          $ref: '#/components/responses/Timeout'
  /v2/auth/token:
    delete:
      tags:
        - Auth
      summary: Revoke the current bearer credential
      operationId: revokeCurrentToken
      responses:
        '204':
          description: Token revoked.
        default:
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/Validation'
        '429':
          $ref: '#/components/responses/RateLimited'
        '501':
          $ref: '#/components/responses/NotImplemented'
        '503':
          $ref: '#/components/responses/Unavailable'
        '504':
          $ref: '#/components/responses/Timeout'
      security:
        - BearerAuth: []
  /v2/auth/device/authorization:
    post:
      tags:
        - Auth
      summary: Start a device authorization
      operationId: beginDeviceAuthorization
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BeginDeviceAuthorizationRequest'
      responses:
        '200':
          description: Response envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceAuthorizationStartResponse'
        default:
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/Validation'
        '429':
          $ref: '#/components/responses/RateLimited'
        '501':
          $ref: '#/components/responses/NotImplemented'
        '503':
          $ref: '#/components/responses/Unavailable'
        '504':
          $ref: '#/components/responses/Timeout'
      security: []
  /v2/auth/device/token:
    post:
      tags:
        - Auth
      summary: Exchange a device code for an access token
      operationId: exchangeDeviceToken
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExchangeDeviceTokenRequest'
      responses:
        '200':
          description: Device access token issued.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceTokenResponse'
        '400':
          description: OAuth device authorization is pending or unavailable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceTokenError'
        default:
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/Validation'
        '429':
          $ref: '#/components/responses/RateLimited'
        '501':
          $ref: '#/components/responses/NotImplemented'
        '503':
          $ref: '#/components/responses/Unavailable'
        '504':
          $ref: '#/components/responses/Timeout'
      security: []
  /v2/me:
    get:
      tags: [Identity]
      summary: Get the current user profile
      operationId: getMe
      responses:
        '200':
          description: Current user profile.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfileResponse'
        default: {$ref: '#/components/responses/Error'}
        '401': {$ref: '#/components/responses/Unauthorized'}
        '403': {$ref: '#/components/responses/Forbidden'}
        '404': {$ref: '#/components/responses/NotFound'}
        '409': {$ref: '#/components/responses/Conflict'}
        '422': {$ref: '#/components/responses/Validation'}
        '429': {$ref: '#/components/responses/RateLimited'}
        '501': {$ref: '#/components/responses/NotImplemented'}
        '503': {$ref: '#/components/responses/Unavailable'}
        '504': {$ref: '#/components/responses/Timeout'}
      security:
        - BearerAuth: []
  /v2/images:
    get:
      tags:
        - Runtimes
      summary: List available Runtime Image variants
      operationId: listRuntimeImages
      responses:
        '200':
          description: List response envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListRuntimeImagesResponse'
        default:
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/Validation'
        '429':
          $ref: '#/components/responses/RateLimited'
        '501':
          $ref: '#/components/responses/NotImplemented'
        '503':
          $ref: '#/components/responses/Unavailable'
        '504':
          $ref: '#/components/responses/Timeout'
      security:
        - BearerAuth: []
  /v2/images/{image_id}:
    delete:
      tags:
        - Runtimes
      summary: Delete an unused custom Runtime Image
      operationId: deleteRuntimeImage
      parameters:
        - in: path
          name: image_id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Response envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
        default:
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/Validation'
        '429':
          $ref: '#/components/responses/RateLimited'
        '501':
          $ref: '#/components/responses/NotImplemented'
        '503':
          $ref: '#/components/responses/Unavailable'
        '504':
          $ref: '#/components/responses/Timeout'
      security:
        - BearerAuth: []
  /v2/images/builds:
    get:
      tags:
        - Runtimes
      summary: List Dockerfile Runtime Image builds
      operationId: listRuntimeImageBuilds
      parameters:
        - in: query
          name: limit
          schema:
            type: integer
            format: uint32
            minimum: 1
            maximum: 100
            default: 50
      responses:
        '200':
          description: List response envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListRuntimeImageBuildsResponse'
        default:
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/Validation'
        '429':
          $ref: '#/components/responses/RateLimited'
        '501':
          $ref: '#/components/responses/NotImplemented'
        '503':
          $ref: '#/components/responses/Unavailable'
        '504':
          $ref: '#/components/responses/Timeout'
      security:
        - BearerAuth: []
    post:
      tags:
        - Runtimes
      summary: Build a private Runtime Image from a Dockerfile
      operationId: createRuntimeImageBuild
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRuntimeImageBuildRequest'
      responses:
        '200':
          description: Response envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RuntimeImageBuildResponse'
        default:
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/Validation'
        '429':
          $ref: '#/components/responses/RateLimited'
        '501':
          $ref: '#/components/responses/NotImplemented'
        '503':
          $ref: '#/components/responses/Unavailable'
        '504':
          $ref: '#/components/responses/Timeout'
      security:
        - BearerAuth: []
  /v2/images/builds/{build_id}:
    get:
      tags:
        - Runtimes
      summary: Get a Dockerfile Runtime Image build
      operationId: getRuntimeImageBuild
      parameters:
        - in: path
          name: build_id
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Response envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RuntimeImageBuildResponse'
        default:
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/Validation'
        '429':
          $ref: '#/components/responses/RateLimited'
        '501':
          $ref: '#/components/responses/NotImplemented'
        '503':
          $ref: '#/components/responses/Unavailable'
        '504':
          $ref: '#/components/responses/Timeout'
      security:
        - BearerAuth: []
    delete:
      tags:
        - Runtimes
      summary: Cancel a queued Dockerfile Runtime Image build
      operationId: cancelRuntimeImageBuild
      parameters:
        - in: path
          name: build_id
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Response envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RuntimeImageBuildResponse'
        default:
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/Validation'
        '429':
          $ref: '#/components/responses/RateLimited'
        '501':
          $ref: '#/components/responses/NotImplemented'
        '503':
          $ref: '#/components/responses/Unavailable'
        '504':
          $ref: '#/components/responses/Timeout'
      security:
        - BearerAuth: []
  /v2/images/builds/{build_id}/history:
    delete:
      tags:
        - Runtimes
      summary: Dismiss a terminal Runtime Image build from recent history
      operationId: dismissRuntimeImageBuild
      parameters:
        - in: path
          name: build_id
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Response envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
        default:
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/Validation'
        '429':
          $ref: '#/components/responses/RateLimited'
        '501':
          $ref: '#/components/responses/NotImplemented'
        '503':
          $ref: '#/components/responses/Unavailable'
        '504':
          $ref: '#/components/responses/Timeout'
      security:
        - BearerAuth: []
  /v2/runtimes:
    get:
      tags:
        - Runtimes
      summary: List runtimes
      operationId: listRuntimes
      parameters:
        - in: query
          name: status
          description: Comma-separated public status aliases.
          schema:
            description: Comma-separated public status aliases.
            type: string
          style: form
        - in: query
          name: limit
          description: Maximum number of runtimes to return.
          schema:
            description: Maximum number of runtimes to return.
            type: integer
            format: int64
            minimum: 1
            maximum: 100
            default: 50
          style: form
        - in: query
          name: after
          description: Opaque cursor returned by the previous page.
          schema:
            description: Opaque cursor returned by the previous page.
            type: string
          style: form
      responses:
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '200':
          description: List response envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListRuntimesResponse'
        '401':
          description: Missing, malformed, or rejected bearer token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '403':
          description: The bearer token is not allowed to perform this action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '404':
          description: The requested resource was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '409':
          description: The request conflicts with current resource state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '422':
          description: Validation or application error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '501':
          description: Operation is not implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '503':
          description: Upstream service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '504':
          description: Upstream request timed out
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
      security:
        - BearerAuth: []
    post:
      tags:
        - Runtimes
      summary: Create a runtime
      operationId: createRuntime
      parameters:
        - $ref: '#/components/parameters/RuntimeCreateIdempotencyKey'
      requestBody:
        description: Runtime creation request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRuntimeRequest'
        required: true
      responses:
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '201':
          description: Runtime resource created.
          headers:
            Location:
              description: Canonical Runtime resource URI.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RuntimeResponse'
        '401':
          description: Missing, malformed, or rejected bearer token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '403':
          description: The bearer token is not allowed to perform this action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '404':
          description: The requested resource was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '409':
          description: The request conflicts with current resource state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '422':
          description: Validation or application error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '501':
          description: Operation is not implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '503':
          description: Upstream service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '504':
          description: Upstream request timed out
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
      security:
        - BearerAuth: []
  /v2/runtimes/{runtime_id}:
    get:
      tags:
        - Runtimes
      summary: Get a runtime by UUID
      operationId: getRuntime
      parameters:
        - in: path
          name: runtime_id
          description: Runtime UUID or display name.
          required: true
          schema:
            description: Runtime UUID or display name.
            type: string
          style: simple
      responses:
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '200':
          description: Response envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RuntimeResponse'
        '401':
          description: Missing, malformed, or rejected bearer token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '403':
          description: The bearer token is not allowed to perform this action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '404':
          description: The requested resource was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '409':
          description: The request conflicts with current resource state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '422':
          description: Validation or application error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '501':
          description: Operation is not implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '503':
          description: Upstream service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '504':
          description: Upstream request timed out
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
      security:
        - BearerAuth: []
    delete:
      tags:
        - Runtimes
      summary: Delete a runtime by UUID
      operationId: deleteRuntime
      parameters:
        - in: path
          name: runtime_id
          description: Runtime UUID or display name.
          required: true
          schema:
            description: Runtime UUID or display name.
            type: string
          style: simple
        - $ref: '#/components/parameters/RuntimeExpectedRevision'
      responses:
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '202':
          description: Runtime deletion accepted.
          headers:
            Location:
              description: Canonical Runtime resource URI.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RuntimeResponse'
        '204':
          description: Runtime deletion was already completed.
        '401':
          description: Missing, malformed, or rejected bearer token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '403':
          description: The bearer token is not allowed to perform this action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '404':
          description: The requested resource was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '409':
          description: The request conflicts with current resource state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '422':
          description: Validation or application error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '501':
          description: Operation is not implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '503':
          description: Upstream service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '504':
          description: Upstream request timed out
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
      security:
        - BearerAuth: []
    patch:
      tags:
        - Runtimes
      summary: Patch runtime resources or policy
      operationId: patchRuntime
      responses:
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '200':
          description: Response envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RuntimeResponse'
        '401':
          description: Missing, malformed, or rejected bearer token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '403':
          description: The bearer token is not allowed to perform this action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '404':
          description: The requested resource was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '409':
          description: The request conflicts with current resource state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '422':
          description: Validation or application error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '501':
          description: Operation is not implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '503':
          description: Upstream service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '504':
          description: Upstream request timed out
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: runtime_id
          description: Runtime UUID or display name.
          required: true
          schema:
            description: Runtime UUID or display name.
            type: string
          style: simple
        - $ref: '#/components/parameters/RuntimeExpectedRevision'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchRuntimeRequest'
        required: true
  /v2/runtimes/{runtime_id}/start:
    post:
      tags:
        - Runtimes
      summary: Boot a shut-down runtime
      operationId: startRuntime
      parameters:
        - in: path
          name: runtime_id
          description: Runtime UUID or display name.
          required: true
          schema:
            description: Runtime UUID or display name.
            type: string
          style: simple
        - $ref: '#/components/parameters/RuntimeExpectedRevision'
      responses:
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '200':
          description: Response envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RuntimeResponse'
        '401':
          description: Missing, malformed, or rejected bearer token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '403':
          description: The bearer token is not allowed to perform this action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '404':
          description: The requested resource was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '409':
          description: The request conflicts with current resource state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '422':
          description: Validation or application error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '501':
          description: Operation is not implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '503':
          description: Upstream service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '504':
          description: Upstream request timed out
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
      security:
        - BearerAuth: []
  /v2/runtimes/{runtime_id}/vnc/enable:
    post:
      tags: [Runtimes]
      summary: Enable the runtime VNC desktop
      operationId: enableRuntimeVnc
      parameters:
        - {in: path, name: runtime_id, required: true, schema: {type: string}}
        - {$ref: '#/components/parameters/RuntimeExpectedRevision'}
      responses:
        '200': {description: Response envelope., content: {application/json: {schema: {$ref: '#/components/schemas/RuntimeResponse'}}}}
        default: {$ref: '#/components/responses/Error'}
        '401': {$ref: '#/components/responses/Unauthorized'}
        '403': {$ref: '#/components/responses/Forbidden'}
        '404': {$ref: '#/components/responses/NotFound'}
        '409': {$ref: '#/components/responses/Conflict'}
        '422': {$ref: '#/components/responses/Validation'}
        '429': {$ref: '#/components/responses/RateLimited'}
        '501': {$ref: '#/components/responses/NotImplemented'}
        '503': {$ref: '#/components/responses/Unavailable'}
        '504': {$ref: '#/components/responses/Timeout'}
      security: [{BearerAuth: []}]
  /v2/runtimes/{runtime_id}/vnc/disable:
    post:
      tags: [Runtimes]
      summary: Disable the runtime VNC desktop
      operationId: disableRuntimeVnc
      parameters:
        - {in: path, name: runtime_id, required: true, schema: {type: string}}
        - {$ref: '#/components/parameters/RuntimeExpectedRevision'}
      responses:
        '200': {description: Response envelope., content: {application/json: {schema: {$ref: '#/components/schemas/RuntimeResponse'}}}}
        default: {$ref: '#/components/responses/Error'}
        '401': {$ref: '#/components/responses/Unauthorized'}
        '403': {$ref: '#/components/responses/Forbidden'}
        '404': {$ref: '#/components/responses/NotFound'}
        '409': {$ref: '#/components/responses/Conflict'}
        '422': {$ref: '#/components/responses/Validation'}
        '429': {$ref: '#/components/responses/RateLimited'}
        '501': {$ref: '#/components/responses/NotImplemented'}
        '503': {$ref: '#/components/responses/Unavailable'}
        '504': {$ref: '#/components/responses/Timeout'}
      security: [{BearerAuth: []}]
  /v2/runtimes/{runtime_id}/vnc-credentials:
    get:
      tags: [Runtimes]
      summary: List runtime VNC credentials
      operationId: listRuntimeVncCredentials
      parameters:
        - {in: path, name: runtime_id, required: true, schema: {type: string}}
      responses:
        '200': {description: List response envelope., content: {application/json: {schema: {$ref: '#/components/schemas/ListVncCredentialsResponse'}}}}
        default: {$ref: '#/components/responses/Error'}
        '401': {$ref: '#/components/responses/Unauthorized'}
        '403': {$ref: '#/components/responses/Forbidden'}
        '404': {$ref: '#/components/responses/NotFound'}
        '409': {$ref: '#/components/responses/Conflict'}
        '422': {$ref: '#/components/responses/Validation'}
        '429': {$ref: '#/components/responses/RateLimited'}
        '501': {$ref: '#/components/responses/NotImplemented'}
        '503': {$ref: '#/components/responses/Unavailable'}
        '504': {$ref: '#/components/responses/Timeout'}
      security: [{BearerAuth: []}]
    post:
      tags: [Runtimes]
      summary: Create a runtime VNC credential
      operationId: createRuntimeVncCredential
      parameters:
        - {in: path, name: runtime_id, required: true, schema: {type: string}}
      requestBody: {required: true, content: {application/json: {schema: {$ref: '#/components/schemas/CreateVncCredentialRequest'}}}}
      responses:
        '201': {description: Response envelope., content: {application/json: {schema: {$ref: '#/components/schemas/CreateVncCredentialResponse'}}}}
        default: {$ref: '#/components/responses/Error'}
        '401': {$ref: '#/components/responses/Unauthorized'}
        '403': {$ref: '#/components/responses/Forbidden'}
        '404': {$ref: '#/components/responses/NotFound'}
        '409': {$ref: '#/components/responses/Conflict'}
        '422': {$ref: '#/components/responses/Validation'}
        '429': {$ref: '#/components/responses/RateLimited'}
        '501': {$ref: '#/components/responses/NotImplemented'}
        '503': {$ref: '#/components/responses/Unavailable'}
        '504': {$ref: '#/components/responses/Timeout'}
      security: [{BearerAuth: []}]
  /v2/runtimes/{runtime_id}/vnc-credentials/{credential_id}:
    delete:
      tags: [Runtimes]
      summary: Revoke a runtime VNC credential
      operationId: revokeRuntimeVncCredential
      parameters:
        - {in: path, name: runtime_id, required: true, schema: {type: string}}
        - {in: path, name: credential_id, required: true, schema: {type: string}}
      responses:
        '200': {description: Response envelope., content: {application/json: {schema: {$ref: '#/components/schemas/VncCredentialResponse'}}}}
        default: {$ref: '#/components/responses/Error'}
        '401': {$ref: '#/components/responses/Unauthorized'}
        '403': {$ref: '#/components/responses/Forbidden'}
        '404': {$ref: '#/components/responses/NotFound'}
        '409': {$ref: '#/components/responses/Conflict'}
        '422': {$ref: '#/components/responses/Validation'}
        '429': {$ref: '#/components/responses/RateLimited'}
        '501': {$ref: '#/components/responses/NotImplemented'}
        '503': {$ref: '#/components/responses/Unavailable'}
        '504': {$ref: '#/components/responses/Timeout'}
      security: [{BearerAuth: []}]
  /v2/runtimes/{runtime_id}/pause:
    post:
      tags:
        - Runtimes
      summary: Pause a running runtime
      operationId: pauseRuntime
      parameters:
        - in: path
          name: runtime_id
          description: Runtime UUID or display name.
          required: true
          schema:
            description: Runtime UUID or display name.
            type: string
          style: simple
        - $ref: '#/components/parameters/RuntimeExpectedRevision'
      responses:
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '200':
          description: Response envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RuntimeResponse'
        '401':
          description: Missing, malformed, or rejected bearer token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '403':
          description: The bearer token is not allowed to perform this action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '404':
          description: The requested resource was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '409':
          description: The request conflicts with current resource state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '422':
          description: Validation or application error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '501':
          description: Operation is not implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '503':
          description: Upstream service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '504':
          description: Upstream request timed out
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
      security:
        - BearerAuth: []
  /v2/runtimes/{runtime_id}/resume:
    post:
      tags:
        - Runtimes
      summary: Resume a paused runtime
      operationId: resumeRuntime
      parameters:
        - in: path
          name: runtime_id
          description: Runtime UUID or display name.
          required: true
          schema:
            description: Runtime UUID or display name.
            type: string
          style: simple
        - $ref: '#/components/parameters/RuntimeExpectedRevision'
      responses:
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '200':
          description: Response envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RuntimeResponse'
        '401':
          description: Missing, malformed, or rejected bearer token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '403':
          description: The bearer token is not allowed to perform this action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '404':
          description: The requested resource was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '409':
          description: The request conflicts with current resource state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '422':
          description: Validation or application error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '501':
          description: Operation is not implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '503':
          description: Upstream service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '504':
          description: Upstream request timed out
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
      security:
        - BearerAuth: []
  /v2/runtimes/{runtime_id}/stop:
    post:
      tags:
        - Runtimes
      summary: Gracefully shut down a runtime
      operationId: stopRuntime
      parameters:
        - in: path
          name: runtime_id
          description: Runtime UUID or display name.
          required: true
          schema:
            description: Runtime UUID or display name.
            type: string
          style: simple
        - $ref: '#/components/parameters/RuntimeExpectedRevision'
      responses:
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '200':
          description: Response envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RuntimeResponse'
        '401':
          description: Missing, malformed, or rejected bearer token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '403':
          description: The bearer token is not allowed to perform this action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '404':
          description: The requested resource was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '409':
          description: The request conflicts with current resource state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '422':
          description: Validation or application error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '501':
          description: Operation is not implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '503':
          description: Upstream service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '504':
          description: Upstream request timed out
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
      security:
        - BearerAuth: []
  /v2/runtimes/{runtime_id}/files:
    get:
      tags:
        - Files
      summary: Read a single file from a runtime
      operationId: readRuntimeFile
      parameters:
        - in: path
          name: runtime_id
          description: Runtime UUID or display name.
          required: true
          schema:
            description: Runtime UUID or display name.
            type: string
          style: simple
        - in: query
          name: path
          description: Absolute path to a regular file inside the runtime.
          required: true
          schema:
            description: Absolute path to a regular file inside the runtime.
            type: string
          style: form
      responses:
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '200':
          description: byte stream
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '401':
          description: Missing, malformed, or rejected bearer token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '403':
          description: The bearer token is not allowed to perform this action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '404':
          description: The requested resource was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '409':
          description: The request conflicts with current resource state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '422':
          description: Validation or application error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '501':
          description: Operation is not implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '503':
          description: Upstream service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '504':
          description: Upstream request timed out
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
      security:
        - BearerAuth: []
    put:
      tags:
        - Files
      summary: Write a single file into a runtime
      operationId: writeRuntimeFile
      parameters:
        - in: path
          name: runtime_id
          description: Runtime UUID or display name.
          required: true
          schema:
            description: Runtime UUID or display name.
            type: string
          style: simple
        - in: query
          name: path
          description: Absolute path to a regular file inside the runtime.
          required: true
          schema:
            description: Absolute path to a regular file inside the runtime.
            type: string
          style: form
      requestBody:
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
        required: true
      responses:
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '401':
          description: Missing, malformed, or rejected bearer token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '403':
          description: The bearer token is not allowed to perform this action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '404':
          description: The requested resource was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '409':
          description: The request conflicts with current resource state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '422':
          description: Validation or application error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '501':
          description: Operation is not implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '503':
          description: Upstream service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '504':
          description: Upstream request timed out
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '204':
          description: no content
      security:
        - BearerAuth: []
  /v2/runtimes/{runtime_id}/checkpoints:
    post:
      tags:
        - Checkpoints
      summary: Create a checkpoint from a runtime
      operationId: createCheckpoint
      parameters:
        - in: path
          name: runtime_id
          description: Runtime UUID or display name.
          required: true
          schema:
            description: Runtime UUID or display name.
            type: string
          style: simple
      requestBody:
        description: Checkpoint creation request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCheckpointRequest'
        required: true
      responses:
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '200':
          description: Response envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckpointResponse'
        '401':
          description: Missing, malformed, or rejected bearer token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '403':
          description: The bearer token is not allowed to perform this action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '404':
          description: The requested resource was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '409':
          description: The request conflicts with current resource state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '422':
          description: Validation or application error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '501':
          description: Operation is not implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '503':
          description: Upstream service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '504':
          description: Upstream request timed out
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
      security:
        - BearerAuth: []
  /v2/secrets:
    get:
      tags:
        - Secrets
      summary: List egress secret metadata
      operationId: listSecrets
      responses:
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '200':
          description: List response envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListSecretsResponse'
        '401':
          description: Missing, malformed, or rejected bearer token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '403':
          description: The bearer token is not allowed to perform this action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '404':
          description: The requested resource was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '409':
          description: The request conflicts with current resource state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '422':
          description: Validation or application error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '501':
          description: Operation is not implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '503':
          description: Upstream service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '504':
          description: Upstream request timed out
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
      security:
        - BearerAuth: []
    post:
      tags:
        - Secrets
      summary: Create an egress secret
      operationId: createSecret
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSecretRequest'
      responses:
        '200':
          description: Response envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecretResponse'
        default:
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/Validation'
        '429':
          $ref: '#/components/responses/RateLimited'
        '501':
          $ref: '#/components/responses/NotImplemented'
        '503':
          $ref: '#/components/responses/Unavailable'
        '504':
          $ref: '#/components/responses/Timeout'
      security:
        - BearerAuth: []
  /v2/secrets/{secret_id}:
    get:
      tags:
        - Secrets
      summary: Get egress secret metadata
      operationId: getSecret
      parameters:
        - in: path
          name: secret_id
          description: Secret UUID or display name.
          required: true
          schema:
            description: Secret UUID or display name.
            type: string
          style: simple
      responses:
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '200':
          description: Response envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecretResponse'
        '401':
          description: Missing, malformed, or rejected bearer token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '403':
          description: The bearer token is not allowed to perform this action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '404':
          description: The requested resource was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '409':
          description: The request conflicts with current resource state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '422':
          description: Validation or application error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '501':
          description: Operation is not implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '503':
          description: Upstream service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '504':
          description: Upstream request timed out
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
      security:
        - BearerAuth: []
    put:
      tags:
        - Secrets
      summary: Store or replace an egress secret
      operationId: setSecret
      parameters:
        - in: path
          name: secret_id
          description: Secret UUID or display name.
          required: true
          schema:
            description: Secret UUID or display name.
            type: string
          style: simple
      requestBody:
        description: Secret set request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetSecretRequest'
        required: true
      responses:
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '200':
          description: Response envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecretResponse'
        '401':
          description: Missing, malformed, or rejected bearer token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '403':
          description: The bearer token is not allowed to perform this action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '404':
          description: The requested resource was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '409':
          description: The request conflicts with current resource state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '422':
          description: Validation or application error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '501':
          description: Operation is not implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '503':
          description: Upstream service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '504':
          description: Upstream request timed out
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
      security:
        - BearerAuth: []
    delete:
      tags:
        - Secrets
      summary: Delete an egress secret
      operationId: deleteSecret
      parameters:
        - in: path
          name: secret_id
          description: Secret UUID or display name.
          required: true
          schema:
            description: Secret UUID or display name.
            type: string
          style: simple
      responses:
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '200':
          description: Response envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
        '401':
          description: Missing, malformed, or rejected bearer token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '403':
          description: The bearer token is not allowed to perform this action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '404':
          description: The requested resource was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '409':
          description: The request conflicts with current resource state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '422':
          description: Validation or application error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '501':
          description: Operation is not implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '503':
          description: Upstream service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '504':
          description: Upstream request timed out
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
      security:
        - BearerAuth: []
  /v2/checkpoints:
    get:
      tags:
        - Checkpoints
      summary: List user checkpoints
      description: Returns only user-created checkpoints.
      operationId: listCheckpoints
      parameters:
        - in: query
          name: limit
          description: Maximum number of checkpoints to return.
          schema:
            description: Maximum number of checkpoints to return.
            type: integer
            format: int64
            minimum: 1
            maximum: 100
            default: 50
          style: form
        - in: query
          name: after
          description: Opaque cursor returned by the previous page.
          schema:
            description: Opaque cursor returned by the previous page.
            type: string
          style: form
      responses:
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '200':
          description: List response envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListCheckpointsResponse'
        '401':
          description: Missing, malformed, or rejected bearer token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '403':
          description: The bearer token is not allowed to perform this action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '404':
          description: The requested resource was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '409':
          description: The request conflicts with current resource state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '422':
          description: Validation or application error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '501':
          description: Operation is not implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '503':
          description: Upstream service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '504':
          description: Upstream request timed out
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
      security:
        - BearerAuth: []
  /v2/checkpoints/{checkpoint_id}:
    get:
      tags:
        - Checkpoints
      summary: Get checkpoint metadata
      operationId: getCheckpoint
      parameters:
        - in: path
          name: checkpoint_id
          description: Checkpoint UUID or display name.
          required: true
          schema:
            description: Checkpoint UUID or display name.
            type: string
          style: simple
      responses:
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '200':
          description: Response envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckpointResponse'
        '401':
          description: Missing, malformed, or rejected bearer token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '403':
          description: The bearer token is not allowed to perform this action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '404':
          description: The requested resource was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '409':
          description: The request conflicts with current resource state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '422':
          description: Validation or application error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '501':
          description: Operation is not implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '503':
          description: Upstream service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '504':
          description: Upstream request timed out
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
      security:
        - BearerAuth: []
    delete:
      tags:
        - Checkpoints
      summary: Delete a checkpoint
      operationId: deleteCheckpoint
      parameters:
        - in: path
          name: checkpoint_id
          description: Checkpoint UUID or display name.
          required: true
          schema:
            description: Checkpoint UUID or display name.
            type: string
          style: simple
      responses:
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '200':
          description: Response envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
        '401':
          description: Missing, malformed, or rejected bearer token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '403':
          description: The bearer token is not allowed to perform this action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '404':
          description: The requested resource was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '409':
          description: The request conflicts with current resource state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '422':
          description: Validation or application error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '501':
          description: Operation is not implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '503':
          description: Upstream service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '504':
          description: Upstream request timed out
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
      security:
        - BearerAuth: []
  /v2/ssh-keys:
    get:
      tags:
        - SSH Keys
      summary: List the current user's SSH keys in an organization
      operationId: listSshKeys
      responses:
        '200':
          description: List response envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListSshKeysResponse'
        default:
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/Validation'
        '429':
          $ref: '#/components/responses/RateLimited'
        '501':
          $ref: '#/components/responses/NotImplemented'
        '503':
          $ref: '#/components/responses/Unavailable'
        '504':
          $ref: '#/components/responses/Timeout'
      security:
        - BearerAuth: []
    post:
      tags:
        - SSH Keys
      summary: Register an Ed25519 SSH public key
      operationId: createSshKey
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSshKeyRequest'
      responses:
        '201':
          description: Response envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SshKeyResponse'
        default:
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/Validation'
        '429':
          $ref: '#/components/responses/RateLimited'
        '501':
          $ref: '#/components/responses/NotImplemented'
        '503':
          $ref: '#/components/responses/Unavailable'
        '504':
          $ref: '#/components/responses/Timeout'
      security:
        - BearerAuth: []
  /v2/ssh-keys/{ssh_key_id}:
    delete:
      tags:
        - SSH Keys
      summary: Delete one of the current user's SSH keys
      operationId: deleteSshKey
      parameters:
        - in: path
          name: ssh_key_id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Response envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SshKeyResponse'
        default:
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/Validation'
        '429':
          $ref: '#/components/responses/RateLimited'
        '501':
          $ref: '#/components/responses/NotImplemented'
        '503':
          $ref: '#/components/responses/Unavailable'
        '504':
          $ref: '#/components/responses/Timeout'
      security:
        - BearerAuth: []
  /v2/events:
    get:
      tags:
        - Events
      summary: List organization runtime events
      operationId: listOrganizationEvents
      parameters:
        - in: query
          name: runtime_id
          schema:
            type: string
        - in: query
          name: kind
          schema:
            type: string
            minLength: 1
            maxLength: 120
        - in: query
          name: harness
          description: Exact normalized harness identifier, such as claude or codex.
          schema:
            type: string
            minLength: 1
            maxLength: 256
        - in: query
          name: session_id
          description: Exact opaque agent session identifier. For Claude, combine with agent_id to select one subagent; for Codex this is the thread identifier.
          schema:
            type: string
            minLength: 1
            maxLength: 256
        - in: query
          name: session_group_id
          description: Exact native session family identifier shared across related agent sessions, where exposed by the harness.
          schema:
            type: string
            minLength: 1
            maxLength: 256
        - in: query
          name: agent_id
          description: Exact native agent identifier within a session. Combine with session_id to distinguish a child agent without crossing root sessions.
          schema:
            type: string
            minLength: 1
            maxLength: 256
        - in: query
          name: page_token
          schema:
            type: string
        - in: query
          name: page_size
          schema:
            type: integer
            format: uint32
            minimum: 1
            maximum: 100
            default: 50
      responses:
        '200':
          description: Response envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventListResponse'
        default:
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/Validation'
        '429':
          $ref: '#/components/responses/RateLimited'
        '501':
          $ref: '#/components/responses/NotImplemented'
        '503':
          $ref: '#/components/responses/Unavailable'
        '504':
          $ref: '#/components/responses/Timeout'
      security:
        - BearerAuth: []
  /v2/events/{event_id}:
    get:
      tags:
        - Events
      summary: Get an organization runtime event
      operationId: getOrganizationEvent
      parameters:
        - in: path
          name: event_id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Response envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventResponse'
        default:
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/Validation'
        '429':
          $ref: '#/components/responses/RateLimited'
        '501':
          $ref: '#/components/responses/NotImplemented'
        '503':
          $ref: '#/components/responses/Unavailable'
        '504':
          $ref: '#/components/responses/Timeout'
      security:
        - BearerAuth: []
  /v2/token-analysis:
    get:
      tags:
        - Events
      summary: List analyzed tool calls
      description: Findings are computed once, when the event is ingested, and never recomputed. The summary covers everything the filter selects rather than the page returned.
      operationId: listOrganizationTokenAnalysis
      parameters:
        - in: query
          name: runtime_id
          schema:
            type: string
        - in: query
          name: page_token
          schema:
            type: string
        - in: query
          name: page_size
          schema:
            type: integer
            format: uint32
            minimum: 1
            maximum: 100
            default: 50
      responses:
        '200':
          description: Response envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenAnalysisListResponse'
        default:
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/Validation'
        '429':
          $ref: '#/components/responses/RateLimited'
        '501':
          $ref: '#/components/responses/NotImplemented'
        '503':
          $ref: '#/components/responses/Unavailable'
        '504':
          $ref: '#/components/responses/Timeout'
      security:
        - BearerAuth: []
  /v2/token-analysis/{event_id}:
    get:
      tags:
        - Events
      summary: Get one analyzed tool call with its capture
      description: The captured input and output are read back from the event, since the analysis stores only previews of them.
      operationId: getOrganizationTokenAnalysis
      parameters:
        - in: path
          name: event_id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Response envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenAnalysisDetailResponse'
        default:
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/Validation'
        '429':
          $ref: '#/components/responses/RateLimited'
        '501':
          $ref: '#/components/responses/NotImplemented'
        '503':
          $ref: '#/components/responses/Unavailable'
        '504':
          $ref: '#/components/responses/Timeout'
      security:
        - BearerAuth: []
  /v2/token-savings:
    get:
      tags:
        - Events
      summary: List token savings the egress proxy already applied
      operationId: listOrganizationTokenSavings
      parameters:
        - in: query
          name: runtime_id
          schema:
            type: string
        - in: query
          name: page_token
          schema:
            type: string
        - in: query
          name: page_size
          schema:
            type: integer
            format: uint32
            minimum: 1
            maximum: 100
            default: 50
      responses:
        '200':
          description: Response envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenSavingsListResponse'
        default:
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/Validation'
        '429':
          $ref: '#/components/responses/RateLimited'
        '501':
          $ref: '#/components/responses/NotImplemented'
        '503':
          $ref: '#/components/responses/Unavailable'
        '504':
          $ref: '#/components/responses/Timeout'
      security:
        - BearerAuth: []
  /v2/github/authorization-requests:
    get:
      tags:
        - GitHub
      summary: List GitHub authorization requests awaiting a decision
      operationId: listGitHubAuthorizationRequests
      responses:
        '200':
          description: Response envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GitHubAuthorizationRequestListResponse'
        default:
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/Validation'
        '429':
          $ref: '#/components/responses/RateLimited'
        '501':
          $ref: '#/components/responses/NotImplemented'
        '503':
          $ref: '#/components/responses/Unavailable'
        '504':
          $ref: '#/components/responses/Timeout'
      security:
        - BearerAuth: []
    post:
      tags:
        - GitHub
      summary: Ask a person to connect GitHub for this organization
      operationId: createGitHubAuthorizationRequest
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateGitHubAuthorizationRequestRequest'
      responses:
        '200':
          description: Response envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GitHubAuthorizationRequestResponse'
        default:
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/Validation'
        '429':
          $ref: '#/components/responses/RateLimited'
        '501':
          $ref: '#/components/responses/NotImplemented'
        '503':
          $ref: '#/components/responses/Unavailable'
        '504':
          $ref: '#/components/responses/Timeout'
      security:
        - BearerAuth: []
  /v2/github/authorization-requests/{request_id}:
    get:
      tags:
        - GitHub
      summary: Read a GitHub authorization request
      operationId: getGitHubAuthorizationRequest
      parameters:
        - in: path
          name: request_id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Response envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GitHubAuthorizationRequestResponse'
        default:
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/Validation'
        '429':
          $ref: '#/components/responses/RateLimited'
        '501':
          $ref: '#/components/responses/NotImplemented'
        '503':
          $ref: '#/components/responses/Unavailable'
        '504':
          $ref: '#/components/responses/Timeout'
      security:
        - BearerAuth: []
  /v2/github/repositories:
    get:
      tags:
        - GitHub
      summary: List cached GitHub repositories
      operationId: listGitHubRepositories
      parameters:
        - in: query
          name: page_token
          schema:
            type: string
        - in: query
          name: page_size
          schema:
            type: integer
            format: uint32
            minimum: 1
            maximum: 100
            default: 50
      responses:
        '200':
          description: Response envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GitHubRepositoryListResponse'
        default:
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/Validation'
        '429':
          $ref: '#/components/responses/RateLimited'
        '501':
          $ref: '#/components/responses/NotImplemented'
        '503':
          $ref: '#/components/responses/Unavailable'
        '504':
          $ref: '#/components/responses/Timeout'
      security:
        - BearerAuth: []
  /v2/github/repositories/{repository_id}/branches:
    get:
      tags:
        - GitHub
      summary: List cached repository branches
      operationId: listGitHubBranches
      parameters:
        - in: path
          name: repository_id
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Response envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GitHubBranchListResponse'
        default:
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/Validation'
        '429':
          $ref: '#/components/responses/RateLimited'
        '501':
          $ref: '#/components/responses/NotImplemented'
        '503':
          $ref: '#/components/responses/Unavailable'
        '504':
          $ref: '#/components/responses/Timeout'
      security:
        - BearerAuth: []
  /v2/github/runtime-bindings:
    post:
      tags:
        - GitHub
      summary: Bind a runtime to a GitHub repository branch
      operationId: createGitHubRuntimeBinding
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateGitHubRuntimeBindingRequest'
      responses:
        '200':
          description: Response envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GitHubRuntimeBindingResponse'
        default:
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/Validation'
        '429':
          $ref: '#/components/responses/RateLimited'
        '501':
          $ref: '#/components/responses/NotImplemented'
        '503':
          $ref: '#/components/responses/Unavailable'
        '504':
          $ref: '#/components/responses/Timeout'
      security:
        - BearerAuth: []
  /v2/github/runtime-bindings/{runtime_id}:
    get:
      tags:
        - GitHub
      summary: Get a runtime GitHub binding
      operationId: getGitHubRuntimeBinding
      parameters:
        - in: path
          name: runtime_id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Response envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GitHubRuntimeBindingListResponse'
        default:
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/Validation'
        '429':
          $ref: '#/components/responses/RateLimited'
        '501':
          $ref: '#/components/responses/NotImplemented'
        '503':
          $ref: '#/components/responses/Unavailable'
        '504':
          $ref: '#/components/responses/Timeout'
      security:
        - BearerAuth: []
    put:
      tags:
        - GitHub
      summary: Atomically replace a runtime's GitHub repository bindings
      operationId: replaceGitHubRuntimeBindings
      parameters:
        - in: path
          name: runtime_id
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReplaceGitHubRuntimeBindingsRequest'
      responses:
        '200':
          description: Response envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GitHubRuntimeBindingListResponse'
        default:
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/Validation'
        '429':
          $ref: '#/components/responses/RateLimited'
        '501':
          $ref: '#/components/responses/NotImplemented'
        '503':
          $ref: '#/components/responses/Unavailable'
        '504':
          $ref: '#/components/responses/Timeout'
      security:
        - BearerAuth: []
    delete:
      tags:
        - GitHub
      summary: Delete a runtime GitHub binding
      operationId: deleteGitHubRuntimeBinding
      parameters:
        - in: path
          name: runtime_id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Response envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
        default:
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/Validation'
        '429':
          $ref: '#/components/responses/RateLimited'
        '501':
          $ref: '#/components/responses/NotImplemented'
        '503':
          $ref: '#/components/responses/Unavailable'
        '504':
          $ref: '#/components/responses/Timeout'
      security:
        - BearerAuth: []
  /v2/runtimes/{runtime_id}/ssh-keys:
    get:
      tags:
        - SSH Keys
      summary: List SSH keys attached to a Runtime
      operationId: listRuntimeSshKeys
      parameters:
        - in: path
          name: runtime_id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: List response envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListSshKeysResponse'
        default:
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/Validation'
        '429':
          $ref: '#/components/responses/RateLimited'
        '501':
          $ref: '#/components/responses/NotImplemented'
        '503':
          $ref: '#/components/responses/Unavailable'
        '504':
          $ref: '#/components/responses/Timeout'
      security:
        - BearerAuth: []
  /v2/runtimes/{runtime_id}/ssh-keys/{ssh_key_id}:
    parameters:
      - in: path
        name: runtime_id
        required: true
        schema:
          type: string
      - in: path
        name: ssh_key_id
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/RuntimeExpectedRevision'
    put:
      tags:
        - SSH Keys
      summary: Attach one of the current user's SSH keys to a Runtime
[...]
