openapi: 3.0.3
info:
  title: Runta Public REST API
  description: |-
    Runta is an execution layer for AI agents. A **runtime** is an isolated cloud VM that hosts an agent
    harness (for example Codex, Cursor, Hermes or OpenCode; see `listRuntimeImages`) or a plain Linux image,
    with egress controls and secret stubs so real credentials never sit in plain text inside the VM.

    **Use Runta to:**
    - Delegate a task to a cloud agent and collect the result: `createCloudAgent`, then `createCloudAgentRun`,
      poll `getCloudAgentRun` until `finished`, then `deleteCloudAgent` with `delete_runtime=true`.
    - Run commands in an isolated environment you control: `createRuntime`, `execRuntime`, `deleteRuntime`.
    - Prepare a golden environment once and start many identical copies: `createCheckpoint`, then
      `createRuntime` with `checkpoint_id` for each copy.
    - Give agents credentials safely: `createSecret` plus `secret_configuration` injects them on egress (the VM
      only sees a placeholder), and `egress_policy` restricts where the VM can connect.

    **Runta is not** a production web host or deployment platform. Public ports (`ingress_specs`) exist for
    previews and agent tooling: runtimes can be paused, suspended or deleted, and there is no deployment
    pipeline, autoscaling or uptime guarantee. To deploy a web app for real users, use a hosting platform
    (for example Vercel, Netlify, Fly.io, Render, Cloudflare or a cloud provider) and say so.

    **Costs:** runtimes accrue cost while they run, until they are paused, shut down, suspended by an idle
    policy, or deleted. Cloud Agent runs also consume model tokens through the selected model provider.
    Delete what you create when the task is done.

    **Identifiers:** every `*_id` path parameter is a UUID; display names are rejected with 422. Look up a
    runtime's UUID by `display_name` with `listRuntimes`, an agent's by `name` with `listCloudAgents`.

    **Errors** always use `ErrorEnvelope` (`error.code`, `error.message`, `request_id`). `PublicErrorCode`
    lists what each code means and what to do next.
  version: 0.1.0
servers:
  - url: https://api.runta.com
    description: Hosted public API
paths:
  /healthz:
    get:
      tags:
        - Health
      summary: Liveness check
      operationId: healthz
      responses:
        '200':
          description: no content
    head:
      tags:
        - Health
      summary: Liveness check
      operationId: headHealthz
      responses:
        '200':
          description: no content
  /v2/ssh-host-key:
    get:
      tags:
        - SSH Keys
      summary: Get the stable SSH gateway host key
      operationId: getSshHostKey
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Response envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SshHostKeyResponse'
        default:
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/Validation'
        '429':
          $ref: '#/components/responses/RateLimited'
        '501':
          $ref: '#/components/responses/NotImplemented'
        '503':
          $ref: '#/components/responses/Unavailable'
        '504':
          $ref: '#/components/responses/Timeout'
  /v2/auth/token:
    delete:
      tags:
        - Auth
      summary: Revoke the current bearer credential
      operationId: revokeCurrentToken
      responses:
        '204':
          description: Token revoked.
        default:
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/Validation'
        '429':
          $ref: '#/components/responses/RateLimited'
        '501':
          $ref: '#/components/responses/NotImplemented'
        '503':
          $ref: '#/components/responses/Unavailable'
        '504':
          $ref: '#/components/responses/Timeout'
      security:
        - BearerAuth: []
  /v2/auth/device/authorization:
    post:
      tags:
        - Auth
      summary: Start a device authorization
      operationId: beginDeviceAuthorization
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BeginDeviceAuthorizationRequest'
      responses:
        '200':
          description: Response envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceAuthorizationStartResponse'
        default:
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/Validation'
        '429':
          $ref: '#/components/responses/RateLimited'
        '501':
          $ref: '#/components/responses/NotImplemented'
        '503':
          $ref: '#/components/responses/Unavailable'
        '504':
          $ref: '#/components/responses/Timeout'
      security: []
  /v2/auth/device/token:
    post:
      tags:
        - Auth
      summary: Exchange a device code for an access token
      operationId: exchangeDeviceToken
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExchangeDeviceTokenRequest'
      responses:
        '200':
          description: Device access token issued.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceTokenResponse'
        '400':
          description: OAuth device authorization is pending or unavailable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceTokenError'
        default:
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/Validation'
        '429':
          $ref: '#/components/responses/RateLimited'
        '501':
          $ref: '#/components/responses/NotImplemented'
        '503':
          $ref: '#/components/responses/Unavailable'
        '504':
          $ref: '#/components/responses/Timeout'
      security: []
  /v2/me:
    get:
      tags: [Identity]
      summary: Get the current user profile
      operationId: getMe
      responses:
        '200':
          description: Current user profile.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfileResponse'
        default: {$ref: '#/components/responses/Error'}
        '401': {$ref: '#/components/responses/Unauthorized'}
        '403': {$ref: '#/components/responses/Forbidden'}
        '404': {$ref: '#/components/responses/NotFound'}
        '409': {$ref: '#/components/responses/Conflict'}
        '422': {$ref: '#/components/responses/Validation'}
        '429': {$ref: '#/components/responses/RateLimited'}
        '501': {$ref: '#/components/responses/NotImplemented'}
        '503': {$ref: '#/components/responses/Unavailable'}
        '504': {$ref: '#/components/responses/Timeout'}
      security:
        - BearerAuth: []
  /v2/images:
    get:
      tags:
        - Runtimes
      summary: List available Runtime Image variants
      operationId: listRuntimeImages
      responses:
        '200':
          description: List response envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListRuntimeImagesResponse'
        default:
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/Validation'
        '429':
          $ref: '#/components/responses/RateLimited'
        '501':
          $ref: '#/components/responses/NotImplemented'
        '503':
          $ref: '#/components/responses/Unavailable'
        '504':
          $ref: '#/components/responses/Timeout'
      security:
        - BearerAuth: []
  /v2/images/{image_id}:
    delete:
      tags:
        - Runtimes
      summary: Delete an unused custom Runtime Image
      operationId: deleteRuntimeImage
      parameters:
        - in: path
          name: image_id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Response envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
        default:
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/Validation'
        '429':
          $ref: '#/components/responses/RateLimited'
        '501':
          $ref: '#/components/responses/NotImplemented'
        '503':
          $ref: '#/components/responses/Unavailable'
        '504':
          $ref: '#/components/responses/Timeout'
      security:
        - BearerAuth: []
  /v2/images/builds:
    get:
      tags:
        - Runtimes
      summary: List Dockerfile Runtime Image builds
      operationId: listRuntimeImageBuilds
      parameters:
        - in: query
          name: limit
          schema:
            type: integer
            format: uint32
            minimum: 1
            maximum: 100
            default: 50
      responses:
        '200':
          description: List response envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListRuntimeImageBuildsResponse'
        default:
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/Validation'
        '429':
          $ref: '#/components/responses/RateLimited'
        '501':
          $ref: '#/components/responses/NotImplemented'
        '503':
          $ref: '#/components/responses/Unavailable'
        '504':
          $ref: '#/components/responses/Timeout'
      security:
        - BearerAuth: []
    post:
      tags:
        - Runtimes
      summary: Build a private Runtime Image from a Dockerfile
      operationId: createRuntimeImageBuild
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRuntimeImageBuildRequest'
      responses:
        '200':
          description: Response envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RuntimeImageBuildResponse'
        default:
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/Validation'
        '429':
          $ref: '#/components/responses/RateLimited'
        '501':
          $ref: '#/components/responses/NotImplemented'
        '503':
          $ref: '#/components/responses/Unavailable'
        '504':
          $ref: '#/components/responses/Timeout'
      security:
        - BearerAuth: []
  /v2/images/builds/{build_id}:
    get:
      tags:
        - Runtimes
      summary: Get a Dockerfile Runtime Image build
      operationId: getRuntimeImageBuild
      parameters:
        - in: path
          name: build_id
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Response envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RuntimeImageBuildResponse'
        default:
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/Validation'
        '429':
          $ref: '#/components/responses/RateLimited'
        '501':
          $ref: '#/components/responses/NotImplemented'
        '503':
          $ref: '#/components/responses/Unavailable'
        '504':
          $ref: '#/components/responses/Timeout'
      security:
        - BearerAuth: []
    delete:
      tags:
        - Runtimes
      summary: Cancel a queued Dockerfile Runtime Image build
      operationId: cancelRuntimeImageBuild
      parameters:
        - in: path
          name: build_id
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Response envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RuntimeImageBuildResponse'
        default:
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/Validation'
        '429':
          $ref: '#/components/responses/RateLimited'
        '501':
          $ref: '#/components/responses/NotImplemented'
        '503':
          $ref: '#/components/responses/Unavailable'
        '504':
          $ref: '#/components/responses/Timeout'
      security:
        - BearerAuth: []
  /v2/images/builds/{build_id}/history:
    delete:
      tags:
        - Runtimes
      summary: Dismiss a terminal Runtime Image build from recent history
      operationId: dismissRuntimeImageBuild
      parameters:
        - in: path
          name: build_id
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Response envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
        default:
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/Validation'
        '429':
          $ref: '#/components/responses/RateLimited'
        '501':
          $ref: '#/components/responses/NotImplemented'
        '503':
          $ref: '#/components/responses/Unavailable'
        '504':
          $ref: '#/components/responses/Timeout'
      security:
        - BearerAuth: []
  /v2/runtimes:
    get:
      tags:
        - Runtimes
      summary: List runtimes
      operationId: listRuntimes
      parameters:
        - in: query
          name: status
          description: Comma-separated public status aliases.
          schema:
            description: Comma-separated public status aliases.
            type: string
          style: form
        - in: query
          name: limit
          description: Maximum number of runtimes to return.
          schema:
            description: Maximum number of runtimes to return.
            type: integer
            format: int64
            minimum: 1
            maximum: 100
            default: 50
          style: form
        - in: query
          name: after
          description: Opaque cursor returned by the previous page.
          schema:
            description: Opaque cursor returned by the previous page.
            type: string
          style: form
      responses:
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '200':
          description: List response envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListRuntimesResponse'
        '401':
          description: Missing, malformed, or rejected bearer token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '403':
          description: The bearer token is not allowed to perform this action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '404':
          description: The requested resource was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '409':
          description: The request conflicts with current resource state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '422':
          description: Validation or application error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '501':
          description: Operation is not implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '503':
          description: Upstream service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '504':
          description: Upstream request timed out
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
      security:
        - BearerAuth: []
    post:
      tags:
        - Runtimes
      summary: Create a runtime
      operationId: createRuntime
      description: |-
        Creates a runtime: an isolated cloud VM, either fresh from a Runtime Image (`image`, see
        `listRuntimeImages`; omit it for the default image) or restored from a checkpoint (`checkpoint_id`, see
        `CheckpointRuntimeRestoreRequest`; every restore is a new, independent copy).

        Returns 201 immediately with `status: creating`. The runtime is usable once `status` is `running`
        (about 15 s observed for the default resources). If `error_code` becomes set while it is still
        `creating`, it will not start (for example `placement_unavailable` when the requested resources cannot
        be placed): delete it and retry with smaller `resources`.

        It accrues cost until deleted (or paused/shut down/suspended). To hand a task to an agent, prefer
        `createCloudAgent`, which creates and manages its own runtime. Public ports (`ingress_specs`) are for
        previews and agent tooling, not production hosting.
      x-wait:
        operationId: getRuntime
        parameters:
          runtime_id: $response.body#/data/id
        until:
        - pointer: /data/status
          in:
          - running
        fail:
        - pointer: /data/status
          in:
          - error
          - crashed
        - pointer: /data/error_code
          present: true
        timeoutSeconds: 300
      parameters:
        - $ref: '#/components/parameters/RuntimeCreateIdempotencyKey'
      requestBody:
        description: Runtime creation request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRuntimeRequest'
        required: true
      responses:
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '201':
          description: Runtime resource created.
          headers:
            Location:
              description: Canonical Runtime resource URI.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RuntimeResponse'
        '401':
          description: Missing, malformed, or rejected bearer token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '403':
          description: The bearer token is not allowed to perform this action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '404':
          description: The requested resource was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '409':
          description: The request conflicts with current resource state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '422':
          description: Validation or application error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '501':
          description: Operation is not implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '503':
          description: Upstream service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '504':
          description: Upstream request timed out
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
      security:
        - BearerAuth: []
  /v2/runtimes/{runtime_id}:
    get:
      tags:
        - Runtimes
      summary: Get a runtime by UUID
      operationId: getRuntime
      description: |-
        Returns the runtime. `status` says whether it is usable and what to do next (see `PublicRuntimeStatus`);
        `error_code` explains failures; `revision` is the value mutations require as `expected_revision`.
      parameters:
        - in: path
          name: runtime_id
          description: Runtime UUID. Display names are rejected (422 invalid_argument); look the UUID up with `listRuntimes`.
          required: true
          schema:
            description: Runtime UUID. Display names are rejected (422 invalid_argument); look the UUID up with `listRuntimes`.
            type: string
          style: simple
      responses:
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '200':
          description: Response envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RuntimeResponse'
        '401':
          description: Missing, malformed, or rejected bearer token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '403':
          description: The bearer token is not allowed to perform this action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '404':
          description: The requested resource was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '409':
          description: The request conflicts with current resource state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '422':
          description: Validation or application error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '501':
          description: Operation is not implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '503':
          description: Upstream service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '504':
          description: Upstream request timed out
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
      security:
        - BearerAuth: []
    delete:
      tags:
        - Runtimes
      summary: Delete a runtime by UUID
      operationId: deleteRuntime
      description: |-
        Permanently deletes the runtime and its disk. Anything not exported or checkpointed is lost; create a
        checkpoint first if you may need it again. Returns 202 while deletion proceeds; afterwards `getRuntime`
        returns 404.
      x-destructive: true
      x-wait:
        operationId: getRuntime
        parameters:
          runtime_id: $request.path.runtime_id
        until:
        - status: 404
        timeoutSeconds: 120
      parameters:
        - in: path
          name: runtime_id
          description: Runtime UUID. Display names are rejected (422 invalid_argument); look the UUID up with `listRuntimes`.
          required: true
          schema:
            description: Runtime UUID. Display names are rejected (422 invalid_argument); look the UUID up with `listRuntimes`.
            type: string
          style: simple
        - $ref: '#/components/parameters/RuntimeExpectedRevision'
      responses:
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '202':
          description: Runtime deletion accepted.
          headers:
            Location:
              description: Canonical Runtime resource URI.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RuntimeResponse'
        '204':
          description: Runtime deletion was already completed.
        '401':
          description: Missing, malformed, or rejected bearer token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '403':
          description: The bearer token is not allowed to perform this action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '404':
          description: The requested resource was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '409':
          description: The request conflicts with current resource state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '422':
          description: Validation or application error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '501':
          description: Operation is not implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '503':
          description: Upstream service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '504':
          description: Upstream request timed out
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
      security:
        - BearerAuth: []
    patch:
      tags:
        - Runtimes
      summary: Patch runtime resources or policy
      operationId: patchRuntime
      responses:
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '200':
          description: Response envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RuntimeResponse'
        '401':
          description: Missing, malformed, or rejected bearer token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '403':
          description: The bearer token is not allowed to perform this action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '404':
          description: The requested resource was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '409':
          description: The request conflicts with current resource state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '422':
          description: Validation or application error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '501':
          description: Operation is not implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '503':
          description: Upstream service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '504':
          description: Upstream request timed out
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: runtime_id
          description: Runtime UUID. Display names are rejected (422 invalid_argument); look the UUID up with `listRuntimes`.
          required: true
          schema:
            description: Runtime UUID. Display names are rejected (422 invalid_argument); look the UUID up with `listRuntimes`.
            type: string
          style: simple
        - $ref: '#/components/parameters/RuntimeExpectedRevision'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchRuntimeRequest'
        required: true
  /v2/runtimes/{runtime_id}/start:
    post:
      tags:
        - Runtimes
      summary: Boot a shut-down runtime
      operationId: startRuntime
      x-wait:
        operationId: getRuntime
        parameters:
          runtime_id: $request.path.runtime_id
        until:
        - pointer: /data/status
          in:
          - running
        fail:
        - pointer: /data/status
          in:
          - error
          - crashed
        - pointer: /data/error_code
          present: true
        timeoutSeconds: 300
      parameters:
        - in: path
          name: runtime_id
          description: Runtime UUID. Display names are rejected (422 invalid_argument); look the UUID up with `listRuntimes`.
          required: true
          schema:
            description: Runtime UUID. Display names are rejected (422 invalid_argument); look the UUID up with `listRuntimes`.
            type: string
          style: simple
        - $ref: '#/components/parameters/RuntimeExpectedRevision'
      responses:
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '200':
          description: Response envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RuntimeResponse'
        '401':
          description: Missing, malformed, or rejected bearer token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '403':
          description: The bearer token is not allowed to perform this action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '404':
          description: The requested resource was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '409':
          description: The request conflicts with current resource state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '422':
          description: Validation or application error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '501':
          description: Operation is not implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '503':
          description: Upstream service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '504':
          description: Upstream request timed out
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
      security:
        - BearerAuth: []
  /v2/runtimes/{runtime_id}/vnc/enable:
    post:
      tags: [Runtimes]
      summary: Enable the runtime VNC desktop
      operationId: enableRuntimeVnc
      parameters:
        - {in: path, name: runtime_id, required: true, schema: {type: string}}
        - {$ref: '#/components/parameters/RuntimeExpectedRevision'}
      responses:
        '200': {description: Response envelope., content: {application/json: {schema: {$ref: '#/components/schemas/RuntimeResponse'}}}}
        default: {$ref: '#/components/responses/Error'}
        '401': {$ref: '#/components/responses/Unauthorized'}
        '403': {$ref: '#/components/responses/Forbidden'}
        '404': {$ref: '#/components/responses/NotFound'}
        '409': {$ref: '#/components/responses/Conflict'}
        '422': {$ref: '#/components/responses/Validation'}
        '429': {$ref: '#/components/responses/RateLimited'}
        '501': {$ref: '#/components/responses/NotImplemented'}
        '503': {$ref: '#/components/responses/Unavailable'}
        '504': {$ref: '#/components/responses/Timeout'}
      security: [{BearerAuth: []}]
  /v2/runtimes/{runtime_id}/vnc/disable:
    post:
      tags: [Runtimes]
      summary: Disable the runtime VNC desktop
      operationId: disableRuntimeVnc
      parameters:
        - {in: path, name: runtime_id, required: true, schema: {type: string}}
        - {$ref: '#/components/parameters/RuntimeExpectedRevision'}
      responses:
        '200': {description: Response envelope., content: {application/json: {schema: {$ref: '#/components/schemas/RuntimeResponse'}}}}
        default: {$ref: '#/components/responses/Error'}
        '401': {$ref: '#/components/responses/Unauthorized'}
        '403': {$ref: '#/components/responses/Forbidden'}
        '404': {$ref: '#/components/responses/NotFound'}
        '409': {$ref: '#/components/responses/Conflict'}
        '422': {$ref: '#/components/responses/Validation'}
        '429': {$ref: '#/components/responses/RateLimited'}
        '501': {$ref: '#/components/responses/NotImplemented'}
        '503': {$ref: '#/components/responses/Unavailable'}
        '504': {$ref: '#/components/responses/Timeout'}
      security: [{BearerAuth: []}]
  /v2/runtimes/{runtime_id}/vnc-credentials:
    get:
      tags: [Runtimes]
      summary: List runtime VNC credentials
      operationId: listRuntimeVncCredentials
      parameters:
        - {in: path, name: runtime_id, required: true, schema: {type: string}}
      responses:
        '200': {description: List response envelope., content: {application/json: {schema: {$ref: '#/components/schemas/ListVncCredentialsResponse'}}}}
        default: {$ref: '#/components/responses/Error'}
        '401': {$ref: '#/components/responses/Unauthorized'}
        '403': {$ref: '#/components/responses/Forbidden'}
        '404': {$ref: '#/components/responses/NotFound'}
        '409': {$ref: '#/components/responses/Conflict'}
        '422': {$ref: '#/components/responses/Validation'}
        '429': {$ref: '#/components/responses/RateLimited'}
        '501': {$ref: '#/components/responses/NotImplemented'}
        '503': {$ref: '#/components/responses/Unavailable'}
        '504': {$ref: '#/components/responses/Timeout'}
      security: [{BearerAuth: []}]
    post:
      tags: [Runtimes]
      summary: Create a runtime VNC credential
      operationId: createRuntimeVncCredential
      parameters:
        - {in: path, name: runtime_id, required: true, schema: {type: string}}
      requestBody: {required: true, content: {application/json: {schema: {$ref: '#/components/schemas/CreateVncCredentialRequest'}}}}
      responses:
        '201': {description: Response envelope., content: {application/json: {schema: {$ref: '#/components/schemas/CreateVncCredentialResponse'}}}}
        default: {$ref: '#/components/responses/Error'}
        '401': {$ref: '#/components/responses/Unauthorized'}
        '403': {$ref: '#/components/responses/Forbidden'}
        '404': {$ref: '#/components/responses/NotFound'}
        '409': {$ref: '#/components/responses/Conflict'}
        '422': {$ref: '#/components/responses/Validation'}
        '429': {$ref: '#/components/responses/RateLimited'}
        '501': {$ref: '#/components/responses/NotImplemented'}
        '503': {$ref: '#/components/responses/Unavailable'}
        '504': {$ref: '#/components/responses/Timeout'}
      security: [{BearerAuth: []}]
  /v2/runtimes/{runtime_id}/vnc-credentials/{credential_id}:
    delete:
      tags: [Runtimes]
      summary: Revoke a runtime VNC credential
      operationId: revokeRuntimeVncCredential
      parameters:
        - {in: path, name: runtime_id, required: true, schema: {type: string}}
        - {in: path, name: credential_id, required: true, schema: {type: string}}
      responses:
        '200': {description: Response envelope., content: {application/json: {schema: {$ref: '#/components/schemas/VncCredentialResponse'}}}}
        default: {$ref: '#/components/responses/Error'}
        '401': {$ref: '#/components/responses/Unauthorized'}
        '403': {$ref: '#/components/responses/Forbidden'}
        '404': {$ref: '#/components/responses/NotFound'}
        '409': {$ref: '#/components/responses/Conflict'}
        '422': {$ref: '#/components/responses/Validation'}
        '429': {$ref: '#/components/responses/RateLimited'}
        '501': {$ref: '#/components/responses/NotImplemented'}
        '503': {$ref: '#/components/responses/Unavailable'}
        '504': {$ref: '#/components/responses/Timeout'}
      security: [{BearerAuth: []}]
  /v2/runtimes/{runtime_id}/pause:
    post:
      tags:
        - Runtimes
      summary: Pause a running runtime
      operationId: pauseRuntime
      x-wait:
        operationId: getRuntime
        parameters:
          runtime_id: $request.path.runtime_id
        until:
        - pointer: /data/status
          in:
          - paused
        fail:
        - pointer: /data/status
          in:
          - error
          - crashed
        - pointer: /data/error_code
          present: true
        timeoutSeconds: 300
      parameters:
        - in: path
          name: runtime_id
          description: Runtime UUID. Display names are rejected (422 invalid_argument); look the UUID up with `listRuntimes`.
          required: true
          schema:
            description: Runtime UUID. Display names are rejected (422 invalid_argument); look the UUID up with `listRuntimes`.
            type: string
          style: simple
        - $ref: '#/components/parameters/RuntimeExpectedRevision'
      responses:
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '200':
          description: Response envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RuntimeResponse'
        '401':
          description: Missing, malformed, or rejected bearer token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '403':
          description: The bearer token is not allowed to perform this action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '404':
          description: The requested resource was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '409':
          description: The request conflicts with current resource state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '422':
          description: Validation or application error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '501':
          description: Operation is not implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '503':
          description: Upstream service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '504':
          description: Upstream request timed out
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
      security:
        - BearerAuth: []
  /v2/runtimes/{runtime_id}/exec/stream:
    get:
      tags:
      - Runtimes
      summary: Run a command inside a runtime (WebSocket)
      operationId: execRuntime
      description: "Opens a WebSocket session that runs **one** command inside a running runtime. It streams\nstdout\
        \ and stderr back and ends with the command's exit code. It is a standard RFC 6455 upgrade:\nconnect to `wss://api.runta.com/v2/runtimes/{runtime_id}/exec/stream`\
        \ with\n`Authorization: Bearer <API key>`. There is no ticket step and no subprotocol.\n\n**Use exec when**\
        \ you know the exact command and want its output now: inspecting files,\nrunning tests or builds, installing\
        \ packages, checking process state. It is synchronous,\ncheap (the first output arrives in about 1 s) and\
        \ deterministic. **Delegate to a Cloud Agent\n(`POST /v2/agents`) instead** when the work is open-ended, takes\
        \ many steps, or must keep running\nafter you disconnect. An exec session is tied to the WebSocket: **if the\
        \ connection drops for\nany reason, the command is killed**, and you cannot reattach.\n\nProtocol:\n  1. Send\
        \ a `start` message first. It must be the first frame.\n  2. Optionally send `stdin` chunks, then `close_stdin`.\
        \ Send `close_stdin` immediately if\n     the command reads no input; otherwise commands such as `cat` wait\
        \ forever.\n  3. Read `stdout`/`stderr` frames until an `exit` frame (success: the command ran, check `code`)\n\
        \     or an `error` frame (the server refused or aborted the session). One of these always comes\n     before\
        \ the socket closes normally. If the socket closes without one, treat the outcome as\n     unknown and do\
        \ not assume the command ran or did not run.\n  4. Ignore `heartbeat` frames. The server sends one every 30\
        \ s.\n\nThe command is executed directly (argv), not through a shell. For pipes, redirects, `cd` or\n`&&`,\
        \ use `command: \"bash\", args: [\"-lc\", \"<script>\"]`. It runs as root with cwd `/root`.\nSeveral sessions\
        \ can run at the same time on one runtime.\n"
      parameters:
      - in: path
        name: runtime_id
        required: true
        description: Runtime UUID. Display names are rejected (422 invalid_argument); look the UUID up with `listRuntimes`.
        schema:
          type: string
          format: uuid
      responses:
        '101':
          description: Switching Protocols. The WebSocket is open. Send a `start` message (see `x-websocket`).
        '401':
          description: 'Missing or invalid API key (`unauthenticated`: "missing Authorization bearer token" or "invalid
            bearer credential"). Check that the key is set and sent as `Authorization: Bearer`. Do not retry with
            the same key.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '404':
          description: '`not_found`: no runtime with this UUID is visible to this key. It may have been deleted, or
            belong to another organization. List runtimes to find the right ID.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '409':
          description: '`failed_precondition`: the runtime is not running (for example paused: "runtime must be started
            before access can be resolved"). Resume it (`POST /v2/runtimes/{runtime_id}/resume`) and then connect
            again. While the runtime is still resuming, the upgrade waits until the runtime is ready (about 10 s observed)
            instead of failing, so one reconnect usually succeeds.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '422':
          description: '`invalid_argument`: `runtime_id` is not a UUID ("runtime_id must be a UUID"). Look up the
            runtime''s `id` by name and retry with it.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
      security:
      - BearerAuth: []
      x-websocket:
        encoding: Every message is a UTF-8 JSON object in a text frame, discriminated by `type`. Byte payloads are
          standard padded base64 in `data_base64`. A single server frame can be about 87 KB of JSON (64 KiB of decoded
          data), so do not use a small client max-message size.
        clientMessages:
          oneOf:
          - $ref: '#/components/schemas/ExecStart'
          - $ref: '#/components/schemas/ExecStdin'
          - $ref: '#/components/schemas/ExecCloseStdin'
          - $ref: '#/components/schemas/ExecSignal'
          - $ref: '#/components/schemas/ExecResize'
          - $ref: '#/components/schemas/ExecHeartbeat'
          discriminator:
            propertyName: type
        serverMessages:
          oneOf:
          - $ref: '#/components/schemas/ExecStdout'
          - $ref: '#/components/schemas/ExecStderr'
          - $ref: '#/components/schemas/ExecExit'
          - $ref: '#/components/schemas/ExecError'
          - $ref: '#/components/schemas/ExecHeartbeat'
          discriminator:
            propertyName: type
        closeBehavior:
        - when: after an `exit` frame
          close: Close frame without a status code (clients see 1005). With `tty=true` the TCP connection is closed
            with no Close frame (1006).
        - when: after an `error` frame, or after a malformed client frame (invalid JSON, `start` without `command`,
            non-string `signal`)
          close: TCP closed with no Close frame (1006). Malformed frames get no `error` message, so validate before
            sending.
        - when: client closes (any code) or the connection drops before `exit`
          close: The command and its child processes are killed within seconds. Nothing keeps running and no result
            is available.
        examples:
        - description: echo hi
          frames:
          - '> {"type":"start","command":"echo","args":["hi"],"env":{},"tty":false,"rows":null,"cols":null}'
          - '> {"type":"close_stdin"}'
          - < {"type":"stdout","data_base64":"aGkK"}
          - < {"type":"exit","code":0}
        session:
          start:
            message:
              type: start
              env: {}
              tty: false
              rows: null
              cols: null
            argv:
              command: command
              args: args
            options:
              env: env
          noStdin:
          - type: close_stdin
          stdin:
            type: stdin
            field: data_base64
            encoding: base64
            end:
              type: close_stdin
          output:
            stdout:
              type: stdout
              field: data_base64
              encoding: base64
            stderr:
              type: stderr
              field: data_base64
              encoding: base64
          exit:
            type: exit
            field: code
          error:
            type: error
            field: message
          ignore:
          - heartbeat
          terminate:
            type: signal
            signal: SIGTERM
  /v2/runtimes/{runtime_id}/resume:
    post:
      tags:
        - Runtimes
      summary: Resume a paused runtime
      operationId: resumeRuntime
      description: |-
        Resumes a `paused` runtime. Only for `paused`: a `shutdown` or `suspended` runtime is booted with
        `startRuntime`. Returns quickly; the VM may need a few more seconds before commands work (an
        `execRuntime` connection opened meanwhile waits about 10 s until it is ready, observed). Poll
        `getRuntime` until `status` is `running`.
      x-wait:
        operationId: getRuntime
        parameters:
          runtime_id: $request.path.runtime_id
        until:
        - pointer: /data/status
          in:
          - running
        fail:
        - pointer: /data/status
          in:
          - error
          - crashed
        - pointer: /data/error_code
          present: true
        timeoutSeconds: 300
      parameters:
        - in: path
          name: runtime_id
          description: Runtime UUID. Display names are rejected (422 invalid_argument); look the UUID up with `listRuntimes`.
          required: true
          schema:
            description: Runtime UUID. Display names are rejected (422 invalid_argument); look the UUID up with `listRuntimes`.
            type: string
          style: simple
        - $ref: '#/components/parameters/RuntimeExpectedRevision'
      responses:
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '200':
          description: Response envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RuntimeResponse'
        '401':
          description: Missing, malformed, or rejected bearer token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '403':
          description: The bearer token is not allowed to perform this action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '404':
          description: The requested resource was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '409':
          description: The request conflicts with current resource state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '422':
          description: Validation or application error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '501':
          description: Operation is not implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '503':
          description: Upstream service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '504':
          description: Upstream request timed out
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
      security:
        - BearerAuth: []
  /v2/runtimes/{runtime_id}/stop:
    post:
      tags:
        - Runtimes
      summary: Gracefully shut down a runtime
      operationId: stopRuntime
      x-wait:
        operationId: getRuntime
        parameters:
          runtime_id: $request.path.runtime_id
        until:
        - pointer: /data/status
          in:
          - shutdown
        fail:
        - pointer: /data/status
          in:
          - error
          - crashed
        - pointer: /data/error_code
          present: true
        timeoutSeconds: 300
      parameters:
        - in: path
          name: runtime_id
          description: Runtime UUID. Display names are rejected (422 invalid_argument); look the UUID up with `listRuntimes`.
          required: true
          schema:
            description: Runtime UUID. Display names are rejected (422 invalid_argument); look the UUID up with `listRuntimes`.
            type: string
          style: simple
        - $ref: '#/components/parameters/RuntimeExpectedRevision'
      responses:
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '200':
          description: Response envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RuntimeResponse'
        '401':
          description: Missing, malformed, or rejected bearer token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '403':
          description: The bearer token is not allowed to perform this action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '404':
          description: The requested resource was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '409':
          description: The request conflicts with current resource state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '422':
          description: Validation or application error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '501':
          description: Operation is not implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '503':
          description: Upstream service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '504':
          description: Upstream request timed out
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
      security:
        - BearerAuth: []
  /v2/runtimes/{runtime_id}/files:
    get:
      tags:
        - Files
      summary: Read a single file from a runtime
      operationId: readRuntimeFile
      parameters:
        - in: path
          name: runtime_id
          description: Runtime UUID. Display names are rejected (422 invalid_argument); look the UUID up with `listRuntimes`.
          required: true
          schema:
            description: Runtime UUID. Display names are rejected (422 invalid_argument); look the UUID up with `listRuntimes`.
            type: string
          style: simple
        - in: query
          name: path
          description: Absolute path to a regular file inside the runtime.
          required: true
          schema:
            description: Absolute path to a regular file inside the runtime.
            type: string
          style: form
      responses:
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '200':
          description: byte stream
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '401':
          description: Missing, malformed, or rejected bearer token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '403':
          description: The bearer token is not allowed to perform this action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '404':
          description: The requested resource was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '409':
          description: The request conflicts with current resource state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '422':
          description: Validation or application error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '501':
          description: Operation is not implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '503':
          description: Upstream service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '504':
          description: Upstream request timed out
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
      security:
        - BearerAuth: []
    put:
      tags:
        - Files
      summary: Write a single file into a runtime
      operationId: writeRuntimeFile
      parameters:
        - in: path
          name: runtime_id
          description: Runtime UUID. Display names are rejected (422 invalid_argument); look the UUID up with `listRuntimes`.
          required: true
          schema:
            description: Runtime UUID. Display names are rejected (422 invalid_argument); look the UUID up with `listRuntimes`.
            type: string
          style: simple
        - in: query
          name: path
          description: Absolute path to a regular file inside the runtime.
          required: true
          schema:
            description: Absolute path to a regular file inside the runtime.
            type: string
          style: form
      requestBody:
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
        required: true
      responses:
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '401':
          description: Missing, malformed, or rejected bearer token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '403':
          description: The bearer token is not allowed to perform this action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '404':
          description: The requested resource was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '409':
          description: The request conflicts with current resource state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '422':
          description: Validation or application error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '501':
          description: Operation is not implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '503':
          description: Upstream service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '504':
          description: Upstream request timed out
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '204':
          description: no content
      security:
        - BearerAuth: []
  /v2/runtimes/{runtime_id}/checkpoints:
    post:
      tags:
        - Checkpoints
      summary: Create a checkpoint from a runtime
      operationId: createCheckpoint
      description: |-
        Snapshots a runtime. `kind: full` (alias `live`) captures a running VM including memory; `cold` captures
        only the disk of a shut-down runtime. Returns immediately with `state: creating`; poll `getCheckpoint`
        until `ready` (or `failed`). Start copies with `createRuntime` and `checkpoint_id`: each restore is a
        new, independent runtime. A checkpoint stores everything on the VM, including any logins.
      x-wait:
        operationId: getCheckpoint
        parameters:
          checkpoint_id: $response.body#/data/id
        until:
        - pointer: /data/state
          in:
          - ready
        fail:
        - pointer: /data/state
          in:
          - failed
        timeoutSeconds: 900
      parameters:
        - in: path
          name: runtime_id
          description: Runtime UUID. Display names are rejected (422 invalid_argument); look the UUID up with `listRuntimes`.
          required: true
          schema:
            description: Runtime UUID. Display names are rejected (422 invalid_argument); look the UUID up with `listRuntimes`.
            type: string
          style: simple
      requestBody:
        description: Checkpoint creation request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCheckpointRequest'
        required: true
      responses:
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '200':
          description: Response envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckpointResponse'
        '401':
          description: Missing, malformed, or rejected bearer token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '403':
          description: The bearer token is not allowed to perform this action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '404':
          description: The requested resource was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '409':
          description: The request conflicts with current resource state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '422':
          description: Validation or application error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '501':
          description: Operation is not implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '503':
          description: Upstream service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '504':
          description: Upstream request timed out
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
      security:
        - BearerAuth: []
  /v2/secrets:
    get:
      tags:
        - Secrets
      summary: List egress secret metadata
      operationId: listSecrets
      responses:
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '200':
          description: List response envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListSecretsResponse'
        '401':
          description: Missing, malformed, or rejected bearer token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '403':
          description: The bearer token is not allowed to perform this action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '404':
          description: The requested resource was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '409':
          description: The request conflicts with current resource state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '422':
          description: Validation or application error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '501':
          description: Operation is not implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '503':
          description: Upstream service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '504':
          description: Upstream request timed out
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
      security:
        - BearerAuth: []
    post:
      tags:
        - Secrets
      summary: Create an egress secret
      operationId: createSecret
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSecretRequest'
      responses:
        '200':
          description: Response envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecretResponse'
        default:
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/Validation'
        '429':
          $ref: '#/components/responses/RateLimited'
        '501':
          $ref: '#/components/responses/NotImplemented'
        '503':
          $ref: '#/components/responses/Unavailable'
        '504':
          $ref: '#/components/responses/Timeout'
      security:
        - BearerAuth: []
  /v2/secrets/{secret_id}:
    get:
      tags:
        - Secrets
      summary: Get egress secret metadata
      operationId: getSecret
      parameters:
        - in: path
          name: secret_id
          description: Secret UUID or display name.
          required: true
          schema:
            description: Secret UUID or display name.
            type: string
          style: simple
      responses:
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '200':
          description: Response envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecretResponse'
        '401':
          description: Missing, malformed, or rejected bearer token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '403':
          description: The bearer token is not allowed to perform this action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '404':
          description: The requested resource was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '409':
          description: The request conflicts with current resource state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '422':
          description: Validation or application error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '501':
          description: Operation is not implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '503':
          description: Upstream service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '504':
          description: Upstream request timed out
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
      security:
        - BearerAuth: []
    put:
      tags:
        - Secrets
      summary: Store or replace an egress secret
      operationId: setSecret
      parameters:
        - in: path
          name: secret_id
          description: Secret UUID or display name.
          required: true
          schema:
            description: Secret UUID or display name.
            type: string
          style: simple
      requestBody:
        description: Secret set request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetSecretRequest'
        required: true
      responses:
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '200':
          description: Response envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecretResponse'
        '401':
          description: Missing, malformed, or rejected bearer token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '403':
          description: The bearer token is not allowed to perform this action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '404':
          description: The requested resource was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '409':
          description: The request conflicts with current resource state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '422':
          description: Validation or application error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '501':
          description: Operation is not implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '503':
          description: Upstream service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '504':
          description: Upstream request timed out
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
      security:
        - BearerAuth: []
    delete:
      tags:
        - Secrets
      summary: Delete an egress secret
      operationId: deleteSecret
      parameters:
        - in: path
          name: secret_id
          description: Secret UUID or display name.
          required: true
          schema:
            description: Secret UUID or display name.
            type: string
          style: simple
      responses:
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '200':
          description: Response envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
        '401':
          description: Missing, malformed, or rejected bearer token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '403':
          description: The bearer token is not allowed to perform this action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '404':
          description: The requested resource was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '409':
          description: The request conflicts with current resource state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '422':
          description: Validation or application error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '501':
          description: Operation is not implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '503':
          description: Upstream service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '504':
          description: Upstream request timed out
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
      security:
        - BearerAuth: []
  /v2/checkpoints:
    get:
      tags:
        - Checkpoints
      summary: List user checkpoints
      description: Returns only user-created checkpoints.
      operationId: listCheckpoints
      parameters:
        - in: query
          name: limit
          description: Maximum number of checkpoints to return.
          schema:
            description: Maximum number of checkpoints to return.
            type: integer
            format: int64
            minimum: 1
            maximum: 100
            default: 50
          style: form
        - in: query
          name: after
          description: Opaque cursor returned by the previous page.
          schema:
            description: Opaque cursor returned by the previous page.
            type: string
          style: form
      responses:
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '200':
          description: List response envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListCheckpointsResponse'
        '401':
          description: Missing, malformed, or rejected bearer token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '403':
          description: The bearer token is not allowed to perform this action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '404':
          description: The requested resource was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '409':
          description: The request conflicts with current resource state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '422':
          description: Validation or application error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '501':
          description: Operation is not implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '503':
          description: Upstream service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '504':
          description: Upstream request timed out
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
      security:
        - BearerAuth: []
  /v2/checkpoints/{checkpoint_id}:
    get:
      tags:
        - Checkpoints
      summary: Get checkpoint metadata
      operationId: getCheckpoint
      parameters:
        - in: path
          name: checkpoint_id
          description: Checkpoint UUID or display name.
          required: true
          schema:
            description: Checkpoint UUID or display name.
            type: string
          style: simple
      responses:
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '200':
          description: Response envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckpointResponse'
        '401':
          description: Missing, malformed, or rejected bearer token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '403':
          description: The bearer token is not allowed to perform this action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '404':
          description: The requested resource was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '409':
          description: The request conflicts with current resource state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '422':
          description: Validation or application error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '501':
          description: Operation is not implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '503':
          description: Upstream service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '504':
          description: Upstream request timed out
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
      security:
        - BearerAuth: []
    delete:
      tags:
        - Checkpoints
      summary: Delete a checkpoint
      operationId: deleteCheckpoint
      parameters:
        - in: path
          name: checkpoint_id
          description: Checkpoint UUID or display name.
          required: true
          schema:
            description: Checkpoint UUID or display name.
            type: string
          style: simple
      responses:
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '200':
          description: Response envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
        '401':
          description: Missing, malformed, or rejected bearer token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '403':
          description: The bearer token is not allowed to perform this action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '404':
          description: The requested resource was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '409':
          description: The request conflicts with current resource state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '422':
          description: Validation or application error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '501':
          description: Operation is not implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '503':
          description: Upstream service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '504':
          description: Upstream request timed out
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
      security:
        - BearerAuth: []
  /v2/ssh-keys:
    get:
      tags:
        - SSH Keys
      summary: List the current user's SSH keys in an organization
      operationId: listSshKeys
      responses:
        '200':
          description: List response envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListSshKeysResponse'
        default:
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/Validation'
        '429':
          $ref: '#/components/responses/RateLimited'
        '501':
          $ref: '#/components/responses/NotImplemented'
        '503':
          $ref: '#/components/responses/Unavailable'
        '504':
          $ref: '#/components/responses/Timeout'
      security:
        - BearerAuth: []
    post:
      tags:
        - SSH Keys
      summary: Register an Ed25519 SSH public key
      operationId: createSshKey
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSshKeyRequest'
      responses:
        '201':
          description: Response envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SshKeyResponse'
        default:
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/Validation'
        '429':
          $ref: '#/components/responses/RateLimited'
        '501':
          $ref: '#/components/responses/NotImplemented'
        '503':
          $ref: '#/components/responses/Unavailable'
        '504':
          $ref: '#/components/responses/Timeout'
      security:
        - BearerAuth: []
  /v2/ssh-keys/{ssh_key_id}:
    delete:
      tags:
        - SSH Keys
      summary: Delete one of the current user's SSH keys
      operationId: deleteSshKey
      parameters:
        - in: path
          name: ssh_key_id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Response envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SshKeyResponse'
        default:
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/Validation'
        '429':
          $ref: '#/components/responses/RateLimited'
        '501':
          $ref: '#/components/responses/NotImplemented'
        '503':
          $ref: '#/components/responses/Unavailable'
        '504':
          $ref: '#/components/responses/Timeout'
      security:
        - BearerAuth: []
  /v2/events:
    get:
      tags:
        - Events
      summary: List organization runtime events
      operationId: listOrganizationEvents
      parameters:
        - in: query
          name: runtime_id
          schema:
            type: string
        - in: query
          name: kind
          schema:
            type: string
            minLength: 1
            maxLength: 120
        - in: query
          name: harness
          description: Exact normalized harness identifier, such as claude or codex.
          schema:
            type: string
            minLength: 1
            maxLength: 256
        - in: query
          name: session_id
          description: Exact opaque agent session identifier. For Claude, combine with agent_id to select one subagent; for Codex this is the thread identifier.
          schema:
            type: string
            minLength: 1
            maxLength: 256
        - in: query
          name: session_group_id
          description: Exact native session family identifier shared across related agent sessions, where exposed by the harness.
          schema:
            type: string
            minLength: 1
            maxLength: 256
        - in: query
          name: agent_id
          description: Exact native agent identifier within a session. Combine with session_id to distinguish a child agent without crossing root sessions.
          schema:
            type: string
            minLength: 1
            maxLength: 256
        - in: query
          name: page_token
          schema:
            type: string
        - in: query
          name: page_size
          schema:
            type: integer
            format: uint32
            minimum: 1
            maximum: 100
            default: 50
      responses:
        '200':
          description: Response envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventListResponse'
        default:
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/Validation'
        '429':
          $ref: '#/components/responses/RateLimited'
        '501':
          $ref: '#/components/responses/NotImplemented'
        '503':
          $ref: '#/components/responses/Unavailable'
        '504':
          $ref: '#/components/responses/Timeout'
      security:
        - BearerAuth: []
  /v2/events/{event_id}:
    get:
      tags:
        - Events
      summary: Get an organization runtime event
      operationId: getOrganizationEvent
      parameters:
        - in: path
          name: event_id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Response envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventResponse'
        default:
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/Validation'
        '429':
          $ref: '#/components/responses/RateLimited'
        '501':
          $ref: '#/components/responses/NotImplemented'
        '503':
          $ref: '#/components/responses/Unavailable'
        '504':
          $ref: '#/components/responses/Timeout'
      security:
        - BearerAuth: []
  /v2/token-analysis:
    get:
      tags:
        - Events
      summary: List analyzed tool calls
      description: Findings are computed once, when the event is ingested, and never recomputed. The summary covers everything the filter selects rather than the page returned.
      operationId: listOrganizationTokenAnalysis
      parameters:
        - in: query
          name: runtime_id
          schema:
            type: string
        - in: query
          name: page_token
          schema:
            type: string
        - in: query
          name: page_size
          schema:
            type: integer
            format: uint32
            minimum: 1
            maximum: 100
            default: 50
      responses:
        '200':
          description: Response envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenAnalysisListResponse'
        default:
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/Validation'
        '429':
          $ref: '#/components/responses/RateLimited'
        '501':
          $ref: '#/components/responses/NotImplemented'
        '503':
          $ref: '#/components/responses/Unavailable'
        '504':
          $ref: '#/components/responses/Timeout'
      security:
        - BearerAuth: []
  /v2/token-analysis/{event_id}:
    get:
      tags:
        - Events
      summary: Get one analyzed tool call with its capture
      description: The captured input and output are read back from the event, since the analysis stores only previews of them.
      operationId: getOrganizationTokenAnalysis
      parameters:
        - in: path
          name: event_id
          required: true
[...]
